---
layout: default
---


<div data-jl-animate="fadein">
	<section class="content-header">
	  	<h1>Examples</h1>
	</section>

	<section class="content-content">
		<h4>Audio context serie</h4>
		<ul>
		{% for post in site.audio %}
			<li>
				<h5>
					<a href="{{post.url}}" title="">{{post.title}}: {{post.subtitle}}</a>
				</h5>
				<p>{{post.intro}}</p>
			</li>			
		{% endfor %}
		</ul>
	</section>
	<section class="content-content">
		&nbsp;
	</section>
</div>