<!-- Some Share this article links -->
<ul class="social-share">
{% for share in site.share %}
	<li>
		<a href="{{share.url}}{{site.url}}{{page.url}}" title="{{share.text}}" class="share {{share.name}}" target="_blank">
			{% case share.name %}
			{% when 'twitter' %}
			{% include icons/icon-twitter.svg %}
			{% when 'linkedin' %}
			{% include icons/icon-linkedin.svg %}
			{% endcase %}
		</a>
	</li>
{% endfor %}
</ul>