<footer class="footer">
	<section>
		Navelpluisje.nl is created, developed and maintained by Erwin Goossen and is build with <a href="http://jekyllrb.com/">Jekyll</a>.<br/>
		The code of the site and most of the projects can be found on <a href="https://bitbucket.org/Navelpluisje/" target="_blank">BitBucket</a>.
		<hr/>
		{% include footer-menu.html %}
	</section>
</footer>

<script src="/js/np.js"></script>
<script src="/js/vendor/jlAnimation/jlanimation.js"></script>