<header class="header">
  {% include icons/icon-head.svg %}
  <a class="site-title" href="{{ site.baseurl }}/">
  	{{ site.title }}
  	<span>
  		{{ site.examples }} Examples
  	</span>
  </a>
</header>
