<nav class="site-menu" id="menu-site">
	<div class="space" id="menu-toggle">
		<span class="hamburger">&nbsp;</span>	
	</div>
	<ul>
		{% for item in site.menu %}
		<li><a href="{{ item.url }}" title="{{ item.name }}">{{ item.name }}</a></li>
		{% endfor %}
	</ul>
</nav>