<section class="example-form">
	<section>
		<h4>Settings</h4>
		<section class="half">
			<div>
				<label for="">Mute</label>
				<input type="checkbox" id="mute" value="1">			
			</div>
			<div>
				<label for="">Gain</label>
				<input type="number" id="gain" min="0" max="1" step=".1" value="0.7">
			</div>
			<div>
				<label for="">Panning</label>
				<input type="number" id="pan" min="0" max="1" step=".1" value="0.5">
			</div>			
		</section>
		<section class="half">
			<div>
				<label for="">Filter</label>
				<input type="checkbox" id="filter" value="1">
			</div>
			<div>
				<label for="">Q</label>
				<input type="number" id="filter-q" min="0" max="35" step="2" value="1">
			</div>
			<div>
				<label for="">Frequency</label>
				<input type="number" id="filterfreq" min="100" max="8000" step="100" value="2000">
			</div>
			<div>
				<label for="">Trigger</label>
				<button id="trigger">Play</button>
			</div>
		</section>
	</section>
	<script>
		var example = (function () {

			var sound = null,
				trigger = document.getElementById('trigger'),
				mute = document.getElementById('mute'),
				gain = document.getElementById('gain'),
				pan = document.getElementById('pan'),
				filter = document.getElementById('filter'),
				filterQ = document.getElementById('filter-q'),
				fiterFreq = document.getElementById('fiter-freq');
				context = null,
				myContext = null;

			try {
			    context = window.AudioContext || window.webkitAudioContext || false;
			    if (context) {
			        myContext = new context(); 
			    }
			} catch (e) {
			    alert("This device does not support the audioContext");
			}


			function setEventBindings() {
				trigger.addEventListener('click', function() {
					sound.play();
				});

				mute.addEventListener('change', function() {
					sound.set('mute', mute.checked);
				});
				gain.addEventListener('change', function() {
					sound.set('gain', this.value);
				});
				pan.addEventListener('change', function() {
					sound.set('pan', this.value);
				});
				filter.addEventListener('change', function() {
					sound.set('filter', this.checked);
				});
				filterQ.addEventListener('change', function() {
					sound.set('filterQ', this.value);
				});
				filterFreq.addEventListener('change', function() {
					sound.set('filterFreq', this.value);
				});
			}

			function init() {
				sound = new Sound('/assets/example1.wav', myContext);
				setEventBindings();
			}

			return {
				init: init,
			};
		}());

		example.init();
	</script>
</section>
