[data-jl-animate] {
  transition: all .6s ease;
  opacity: 0;
}

[data-jl-animate=slideup] {
  transform: translateY(100%);
}

[data-jl-animate=slideleft] {
  transform: translateX(-100%);
}

[data-jl-animate=slideright] {
  transform: translateX(100%);
}

[data-jl-animate].animated {
  opacity: 1;
}

[data-jl-animate=slideup].animated {
  transform: translateY(0);
}

[data-jl-animate=slideleft].animated, [data-jl-animate=slideright].animated {
  transform: translateX(0);
}
