.content-header,
.content-content {
    @include column(100);
}

.content-code {
    @include column(70);
}

.content-info {
    @include column(30);
}

.the-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.page-header {
    @include column(100);
    h1 {
        color: $secondary-color;            
    }
}

a.more {
    cursor: pointer;
    &:after {
        content: '\21dd';
    }
}

