.footer {
    background-color: $primary-color;
    color: $default-light;

    a {
    	color: $primary-light-color;

    	&:hover {
	    	color: $secondary-color;    		
    	}
    }

    > section {
    	@include column(100);
    	float: none;
    	max-width: 1200px;
    	margin: 0 auto;
    	text-align: center;
    }

	ul {
		list-style: none;
	}

	li {
		@include transition(background .35s ease);
		display: inline-block;
		padding: .2em .4em;

		a {
			color: $default-light;
		}

		&:hover {
			background: $default-light;
			a {
				color: $secondary-color;				
			}
		}
	}

}