.header {
    background-color: $primary-color;
    color: $default-light;
    height: 4rem;
    overflow: hidden;
    position: relative;

    .site-head {
        height: 4rem;

        .head path {
            stroke-width: 1rem;
            stroke: darken($primary-color, 10%);
            fill: $primary-color;
        }

        .body path,
        .nose path {
            stroke: darken($primary-color, 10%);
            fill: darken($primary-color, 10%);
        }
    }

    .site-title {
        color: $default-light; 
        display: inline-block;
        font-size: 2rem;   
        line-height: 4rem;
        vertical-align: top;

        span {
            color: $secondary-color;
        }

        &:hover {
            border-color: $default-light;
        }
    }
}