.post-aside {
	article {
		border-top: 1px dotted $primary-light-color;
		padding: 15px 0;

		&:first-of-type {
			border: none;
			padding-top: 0;
		}
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		a {
			color: $default-color;

			&:hover {
				color: $primary-color;
			}
		}		
	}

	.project {
		display: inline-block;
		

		&:after {
			color: $default-color;
			content: ' | '
		}
	}

	.more {
		display: inline-block;
		padding-top: 10px;
		vertical-align: top;

		&:after {
			content: '\21dd';
			margin-left: 5px;
		}
	}
}