.categories {
	display: inline;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;

	li {
		display: inline;

		a {
			color: $secondary-color;
		}

		&:after {
			content: '•';
			color: $default-color;
		}

		&:last-of-type:after {
			content: '';
		}
	}
}