.site-menu {
	display: block;
	float: right;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	width: 4rem;

	.site-start + & {
		position: fixed;
		z-index: 4;
	}

	.space {
		cursor: pointer;
		height: 4rem;
		width: 4rem;
	}

	.hamburger {
		background: $default-light;
		display: block;
		height: .4rem;
		margin: 1.8rem 1rem;
		overflow: visible;
		position: relative;
		width: 2rem;

		&:before,
		&:after {
			background: $default-light;
			content: '';
			display: block;
			height: .4rem;
			position: absolute;
			width: 2rem;
		}

		&:before {
			top: -.8rem;
		}

		&:after {
			bottom: -.8rem;
		}
	}

	ul {
		@include transition(width .5s ease .1s);
		background: $primary-color;
		height: calc(100vh - 4rem);
		list-style: none;
		padding-left: 0;
		position: absolute;
		right: 0;
		width: 0vw;
		z-index: 10;
	}

	li {
		text-align: center;
	}

	a {
		color: $default-light;
		font-size: 3rem;

		&:hover {
			border-color: $primary-light-color;
			color: $primary-light-color;
		}
	}

	&.show {
		ul {
			position: absolute;
			width: 100vw;
		}
	}
}