.social-share {
	display: inline-block;
	float: right;
	list-style: none;

	li {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}

	a {
		display: block;
		height: 32px;
		width: 32px;

		&:hover, 
		&:active {
			border: none;
			path {
				fill: $primary-light-color;
				stroke: $primary-color;
			}
		}
	}

	svg {
		height: 32px;
		width: 32px;

		path {
			@include transition(all .3s ease);
			stroke: $secondary-color;
			stroke-width: 15;
		}
	}
}