---
layout: default
---

<div data-jl-animate="fadein">
	<section class="posts-header category">
	  	<h1>All posts for <span>`{{ page.category }}`</span></h1>
	</section>

	<section class="the-posts">
		{{ content }}
	</section>
</div>