---
layout: default
---

<script src="{{page.script}}"></script>
<div data-jl-animate="fadein">
	<section class="content-header">
	  	<h1>{{page.title}}</h1>
	</section>

	<article class="content-code">
		<p>
			{{page.intro}}
		</p>
		{% if page.form %}
		{% include page.form %}
		{% endif %}
		{% if page.trigger %}
		<p>
			<button type="button" onclick="{{page.trigger}}">Trigger the example</button>
		</p>		
		{% endif %}
		<p>
			{{content}}
		</p>
	</article>
	<article class="content-info">

		<section class="project-info">
			<h3>Info</h3>
			<dl>
				<dt>Javascript</dt>
				<dd><a href="{{page.script}}" target="_blank">Download the javascript</a></dd>
			</dl>
		</section>      
	</article>
</div>