---
layout: default
---
<div data-jl-animate="fadein">
	<section class="project-header">
	  <h1>{{page.title}}<small><a href="/projects/">All projects</a></small></h1>
	</section>

	<section class="project-image">
		<img src="{{ page.image] }}" alt="npKnob icon" />
	</section>      

	<section class="project-content">
	    {{ content }}
		
		<hr>
		<section class="project-info">
			<h3>Info</h3>
			<dl>
				<dt>Repository</dt>
				<dd><a href="{{page.repository}}" target="_blank">{{page.repository}}</a></dd>
				{% if page.visit %}
				<dt>Visit</dt>
				<dd><a href="{{page.visit}}" target="_blank">{{page.visit}}</a></dd>				    				
				{% endif %}
				<dt>Categories</dt>
				<dd>{{page.categories}}</dd>
			</dl>
		</section>      
	</section>      
</div>
