body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
  font-family: $heading-font-family;
  font-weight: $base-font-weight;
  line-height: $heading-line-height;
  margin: 0 0;
  overflow: hidden;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  @include transition(all .3s ease);
  border-color: transparent;
  border-style: dotted;
  border-width: 0 0 1px 0;
  color: $action-color;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    border-color: $secondary-color;
    color: shade($action-color, 25%);
  }

  &:visited {
    border: none;
  }
}

small {
  font-size: .8em;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code {
  font-family: $mono-font-family;
  &.highlighter-rouge {
    background-color: $secondary-light-color;
    font-size: .8em;  
    padding: 0 .2em;
  }
}
